RewriteEngine off

<IfModule mod_php5.c>
php_value post_max_size 1000M
php_value upload_max_filesize 1000M
php_value memory_limit 128M
php_value max_execution_time 259200
php_value max_input_time 259200
php_value session.gc_maxlifetime 1200
</IfModule>

# Basic auth
# Needs a .htpasswd file and error pages for the site to be set like...

#ErrorDocument 401 /err.txt
#ErrorDocument 403 /err.txt

#AuthType Basic
#AuthName "restricted area"
#AuthBasicProvider file
#AuthUserFile /path/to/file/.htpasswd
#require valid-user